<!-- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
 -->

 <header class="u-clearfix u-header u-sticky u-sticky-6b35 u-white u-header" id="sec-8640"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
  <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="XS">
  <div class="menu-collapse u-custom-font" style="font-size: 1.25rem; letter-spacing: 0px; font-family: Inter; font-weight: 700;">
  <a class="u-button-style u-custom-active-color u-custom-border-radius u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-text-shadow u-custom-text-shadow-blur u-custom-text-shadow-color u-custom-text-shadow-transparency u-custom-text-shadow-x u-custom-text-shadow-y u-custom-top-bottom-menu-spacing u-file-icon u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-file-icon-1" href="#">
  <img src="images/News_HamburgerIcon.png" alt="">
  </a>
  </div>
  <div class="u-custom-menu u-nav-container">
  <ul class="u-custom-font u-nav u-spacing-1 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-palette-5-light-1 u-border-2 u-border-white u-button-style u-grey-5 u-nav-link u-radius-12 u-text-active-palette-2-base u-text-hover-palette-2-light-1 active" href="Feed.html" style="padding: 10px 20px;">Feed</a>
  </li><li class="u-nav-item"><a class="u-active-palette-5-light-1 u-border-2 u-border-white u-button-style u-grey-5 u-nav-link u-radius-12 u-text-active-palette-2-base u-text-hover-palette-2-light-1" href="Featured.html" style="padding: 10px 20px;">Featured</a>
  </li><li class="u-nav-item"><a class="u-active-palette-5-light-1 u-border-2 u-border-white u-button-style u-grey-5 u-nav-link u-radius-12 u-text-active-palette-2-base u-text-hover-palette-2-light-1" href="IA+.html" style="padding: 10px 20px;">IA+</a>
  </li><li class="u-nav-item"><a class="u-active-palette-5-light-1 u-border-2 u-border-white u-button-style u-grey-5 u-nav-link u-radius-12 u-text-active-palette-2-base u-text-hover-palette-2-light-1" href="About.html" style="padding: 10px 20px;">About</a>
  </li></ul>
  </div>
  <div class="u-custom-menu u-nav-container-collapse">
  <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
  <div class="u-sidenav-overflow">
   <div class="u-menu-close"></div>
  <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link active" href="Feed.html" style="padding: 10px 20px;">Feed</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Featured.html" style="padding: 10px 20px;">Featured</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="IA+.html" style="padding: 10px 20px;">IA+</a>
  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html" style="padding: 10px 20px;">About</a>
  </li></ul>
  </div>
  </div>
  <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
  </div>
  <style class="offcanvas-style">            .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }            @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }            </style></nav>
  <div class="u-container-style u-grey-5 u-group u-radius-15 u-shape-round u-group-1">
  <div class="u-container-layout u-container-layout-1"></div>
  </div>
  <a href="https://www.internalarchive.com" class="u-image u-image-round u-logo u-radius-31 u-image-1" data-image-width="2500" data-image-height="393" title="Internal Archive">
  <img src="images/InternalNews_String-w_Graphic_1.01.png" class="u-logo-image u-logo-image-1">
  </a>
  </div><style class="u-sticky-style" data-style-id="6b35">.u-sticky-fixed.u-sticky-6b35, .u-body.u-sticky-fixed .u-sticky-6b35 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important
  }.u-sticky-fixed.u-sticky-6b35:before, .u-body.u-sticky-fixed .u-sticky-6b35:before {
  borders: top right bottom left !important
  }</style></header>